In [1]:
s = [10,16,15,9,23]

In [4]:
s[3]

9

In [8]:
day = ['sunday','monday','tuesday','wedday']

In [9]:
a = [1,2,1,4,2,3,4,2,4,5,3,6]
i=0
while i <12:
    print(a[i])
    i += 1

1
2
1
4
2
3
4
2
4
5
3
6

In [10]:
a = [1,2,1,4,2,3,4,2,4,5,3,6]
i=0
while i <len(a):
    print(a[i])
    i += 1

1
2
1
4
2
3
4
2
4
5
3
6

### การแก้ไขข้อมูล ใน list

In [11]:
s = [10,20,30,40]
s[2] =5
s

[10, 20, 5, 40]

In [12]:
ps =[1,2,1,3,1,4]
t = 0
j = 0
while j<6:
    if ps[j]>t:
        t = ps[j]
    else:
        ps[j] = t
    print(ps[j])
    j+=1

1
2
2
3
3
4

### ความหลากหลายของข้อมูล

In [13]:
f = ['ice',10,19.5]

### คำสั่ง for

In [15]:
a = [1,2,1,4,2,3,4,2,4,5,3,6]
for x in a:
    print(x)

1
2
1
4
2
3
4
2
4
5
3
6

In [16]:
for x in [2,3,5,7,11]:
    print(x)

2
3
5
7
11

In [19]:
Mylist = [1,2,1,4,3,2]
sum=0
for x in Mylist:#x เป็นตัวชี้ตำแหน่งเป็นชื่ออะไรก็ได้แต่ต้องให้สอดคล้องกับสิ่งที่เราจะให้มันทำออกมา
    sum = sum+x 

print(sum)

13

In [26]:
Mylist = [1,2,1,4,3,2]
sum = 0
for y in Mylist:
    if y > max:
        max = y 

print(max)

TypeError: '>' not supported between instances of 'int' and 'builtin_function_or_method'

### ตัวดำเนินการ
    - +
    - *
    - len
    - append

In [28]:
n = 5
s = [0]*n
s

[0, 0, 0, 0, 0]

In [30]:
len(s)

5

In [34]:
s.apped(10)

AttributeError: 'list' object has no attribute 'apped'

In [32]:
def read_list():
    print("Enter list (-1 to end):")
    data = []
    s = int(input())
    while x!=-1:
        data.append(x)
        x =int(input())
    return data

#### การทำซ้ำ for

In [35]:
t = 1 
for i in [1,2,3,4,5]:
    t*=i # การหา factorial
print(t)

120

In [37]:
months = ['jan','Feb','Mar','Apr',
         'May','Jun','July','Aug',
         'Sep','Oct','Nov','Dec']
day =[31,28,31,30,
      31,30,31,31,
      30,31,30,31]

for x in months:
    print(x)

jan
Feb
Mar
Apr
May
Jun
July
Aug
Sep
Oct
Nov
Dec

In [40]:
months = ['jan','Feb','Mar','Apr',
         'May','Jun','July','Aug',
         'Sep','Oct','Nov','Dec']
day =[31,28,31,30,
      31,30,31,31,
      30,31,30,31]

for x in [0,1,2,3,4,5,6,7,8,9,10,11]:
    print(months[i],day[i])

Jun 30
Jun 30
Jun 30
Jun 30
Jun 30
Jun 30
Jun 30
Jun 30
Jun 30
Jun 30
Jun 30
Jun 30

### range 
    = range(r)
    = range(a,b) รายการตั้งแต่ a ถึง b-1
    = range(x,y,z) ; x เริ่มต้น , y สิ้นสุด , z step

In [47]:
months = ['jan','Feb','Mar','Apr',
         'May','Jun','July','Aug',
         'Sep','Oct','Nov','Dec']
day =[31,28,31,30,
      31,30,31,31,
      30,31,30,31]

for x in range(11):
    print(months[i],day[i])

IndexError: list index out of range

In [45]:
#ผลรวมที่หาร 3 ลงตัว
t = 0
for i in range(200):
    if i %3 ==0:
        t += i
print(t)

6633

### copy list

In [50]:
list_a = [1,3,4,5,4]
list_b = list_a #จะเป็นการชี้ไปที่กล่องเดียวกัน ทำให้เวลามีการเปลี่ยนค่าจะเปลี่ยนค่าทั้งคู่
list_b

[1, 3, 4, 5, 4]

In [53]:
list_a = [1,3,4,5,4]
list_b = list(list_a) # เพิ่ม list เข้าไปจะเป็นการ copy
list_b

[1, 3, 4, 5, 4]

# Python list Function

In [2]:
ls = ['a','b','c','d','e','f','g','h']

In [7]:
ls[2:5:2] # index 2 -> 5 ไม่เอาตัวตำแหน่งที่ 5 มา

['c', 'e']

In [4]:
ls[:4:3]

['a', 'd']

In [5]:
ls[4:-2]

['e', 'f']

In [6]:
ls[5:3:-1]

['f', 'e']

In [8]:
ls = ['a','b','c','d','e']

In [9]:
ls[2:4] = ['x','y']

In [10]:
ls

['a', 'b', 'x', 'y', 'e']

## function ที่ใช้กับ list 

        - แก้ไข list
        - เพ่ิม list 
            - append เพิ่มข้อมูลต่อท้าย list
            - extend  นำ list ไปต่อท้าย list
            - insert แทรกข้อมูล
        - ลบ list
            - pop เอาข้อมูลที่ "index" ไหนออก
            สามารถเอาข้อมูลออกแล้วเอาตัวมาแปรมารับค่าที่เราลบออกแล้วได้ 
            เช่น a = ls.pop(i)
            ถ้า pop แบบไม่มี index จะเอาตัวสุดท้ายออก
            - remove จะดูจากค่าว่าเราอยากลบตัวไหน
            ถ้ามีข้อมูลเดียวกันมากกว่า 1 ตัวจะลบตัวที่ index น้อยกว่า
        - เรียงลำดับ (sort)
            - sort 
            - sort(reverse=True) : เรียงจากมากไปน้อย
            - reverse : กลับจากหลังมาหน้า แต่ไม่ได้ทำการเรียงตามค่าให้
        - ค้นหาข้อมูลใน list
            - count : นับจำนวน
            - index : ค้นหาค่า x ว่าอยุ่ที่ index ไหน

In [11]:
ls

['a', 'b', 'x', 'y', 'e']

In [12]:
ls.pop(2)

'x'

In [13]:
a = ls.pop(2)

In [14]:
a

'y'

In [15]:
ls.remove('e')

In [16]:
ls

['a', 'b']

In [17]:
ls = [3,5,6,7,8,9,1]

In [18]:
ls

[3, 5, 6, 7, 8, 9, 1]

In [20]:
ls.sort(reverse=True)
ls

[9, 8, 7, 6, 5, 3, 1]

In [21]:
seq = [2,3,5,7,11,13,17,19]
for x in seq :
    print(x)

2
3
5
7
11
13
17
19

In [25]:
seq = [2,3,5,7,11,13,17,19]
for i in range(5):
    print(seq[i])
#2
#3
#5
#7
#11

2
3
5
7
11

In [27]:
seq = [2, 3, 5, 7, 11, 13, 17, 19]
for i in reversed(range(len(seq))):
    print(seq[i])

19
17
13
11
7
5
3
2

## Score Ranking
Write a Python program that asks user to enter a sequence of scores with an empty input to indicate the end of the score sequence. The program then prints out all the scores ranked from the highest to the lowest.

    Example 1
    Input student score (or just ENTER to end): 13↵
    Input student score (or just ENTER to end): 19↵
    Input student score (or just ENTER to end): 10↵
    Input student score (or just ENTER to end): ↵
    Rank #1: 19
    Rank #2: 13
    Rank #3: 10
    Example 2
    Input student score (or just ENTER to end): 87↵
    Input student score (or just ENTER to end): 56↵
    Input student score (or just ENTER to end): 73↵
    Input student score (or just ENTER to end): 59↵
    Input student score (or just ENTER to end): 90↵
    Input student score (or just ENTER to end): 72↵
    Input student score (or just ENTER to end): ↵
    Rank #1: 90
    Rank #2: 87
    Rank #3: 73
    Rank #4: 72
    Rank #5: 59
    Rank #6: 56

In [30]:
def main():
    scores = []
    
    while True:
        score_input = input("Input student score (or just ENTER to end): ")
        if score_input == "":
            break
        
        try:
            score = int(score_input)
            scores.append(score)
        except ValueError:
            print("Invalid input. Please enter a valid integer score.")

    ranked_scores = sorted(scores, reverse=True)
    
    print("\nRanking of scores:")
    for rank, score in enumerate(ranked_scores, start=1):
        print(f"Rank #{rank}: {score}")

if __name__ == "__main__":
    main()

Input student score (or just ENTER to end): 90
Input student score (or just ENTER to end): 87
Input student score (or just ENTER to end): 73
Input student score (or just ENTER to end): 72
Input student score (or just ENTER to end): 59
Input student score (or just ENTER to end): 56
Input student score (or just ENTER to end):

Ranking of scores:
Rank #1: 90
Rank #2: 87
Rank #3: 73
Rank #4: 72
Rank #5: 59
Rank #6: 56

## Sum of Numbers
Write a Python program that takes a list of values from user, and prints out the summation of all positive numbers and the summation of negative numbers separately with two decimal places. The program is designed as a sentinel controlled loop using zero as the sentinel value. (I.e., the program stops when the user enters 0.)

    Example 1
    Enter a number (to exit, just enter 0): 1
    Enter a number (to exit, just enter 0): 2.5
    Enter a number (to exit, just enter 0): -4
    Enter a number (to exit, just enter 0): 3
    Enter a number (to exit, just enter 0): -1.8
    Enter a number (to exit, just enter 0): 0
    Sum of positive numbers is 6.50
    Sum of negative numbers is -5.80
    Example 2
    Enter a number (to exit, just enter 0): 0
    Sum of positive numbers is 0.00
    Sum of negative numbers is 0.00

    [hide line #]

In [31]:
def main():
    numbers = []

    while True:
        user_input = input("Enter a number (or [Enter] to stop): ")

        if user_input == "":
            break

        try:
            number = float(user_input)
            numbers.append(number)
        except ValueError:
            print("Invalid input. Please enter a valid number.")

    if not numbers:
        print("Nothing to do.")
        return

    maximum = max(numbers)
    minimum = min(numbers)
    average = sum(numbers) / len(numbers)

    print(f"The maximum value is {maximum:.2f}")
    print(f"The minimum value is {minimum:.2f}")
    print(f"The average value is {average:.2f}")

if __name__ == "__main__":
    main()

Enter a number (or [Enter] to stop): 3
Enter a number (or [Enter] to stop): 3
Enter a number (or [Enter] to stop): 3
Enter a number (or [Enter] to stop):
The maximum value is 3.00
The minimum value is 3.00
The average value is 3.00